.container{
    max-width: 600px;
    min-width: 500px;
    margin: auto;
    margin-top: 8rem;
    padding: 2rem 1rem;
    background-color: black;
    opacity:0.6;
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    border-radius:64px 96px 128px 32px;
    color: white;
    
}

.heading{
    color: white;
   padding-top:12px;
   font-family: cursive;
}
input
{
    border: none;
    border-bottom:0.1rem solid white;
    margin-top:23px;
    margin-bottom:21px;
    padding: 0.8 0.5rem;
    width:80%;
    outline:none;
    background: none;
    color: white;
    font-size: 1.2rem;
}
a{
   text-decoration: none ;
   cursor: pointer;
 font-size: 25px;
 color: blueviolet;

}

button{
    margin-top: 1rem;
    font-size: 1.1rem;
    background:none;
    cursor:pointer;
    padding: 0.5rem;
    border: none;
   color: white;
   border-right: 0.1rem solid white;
   border-left: 0.1rem solid white;
   border-top:0.1rem solid white ;
}
button:hover{
    border-bottom: 0.1rem solid white;
}
.h1{
    margin-top: 300px;
    font-size: 60px;
}

@media only screen and (max-width: 600px) {
    .container{
        max-width: 200px;
        min-width: 300px;
    }

}
